Lab04/.idea/Ex04.iml
Lab04/.idea/misc.xml
Lab04/.idea/modules.xml
Lab04/.idea/workspace.xml
Lab04/.ipynb_checkpoints/ex04-checkpoint.ipynb
Lab04/__pycache__/build_polynomial.cpython-35.pyc
Lab04/__pycache__/costs.cpython-35.pyc
Lab04/__pycache__/helpers.cpython-35.pyc
Lab04/__pycache__/plots.cpython-35.pyc
Lab04/__pycache__/ridge_regression.cpython-35.pyc
Lab04/dataEx3.csv
Lab04/exercise04.pdf
